.main2{
 animation-name: anime2;
 position: relative;
 animation-delay: 10ms;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 animation-iteration-count: infinite;
}
.main{
     animation-name: anime;
     position: relative;
     animation-delay: 10ms;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
}
.main3{
     animation-name: anime3;
     position: relative;
     animation-delay: 10ms;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
}
.main4{
     animation-name: anime4;
     position: relative;
     animation-delay: 10ms;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
}
.main5{
     animation-name: anime2;
     position: relative;
     animation-delay: 10ms;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
}
@keyframes anime {
     0%{
          height: 100px;
     }
     50%{
          height: 200px;
     }
     100%{
          height: 100px;
     }
}

@keyframes anime2 {
     0%{
          height: 100px;
     }
     50%{
          height: 145px;
     }
     100%{
          height: 100px;
     }
}

@keyframes anime3 {
     0%{
          height: 100px;
     }
     50%{
          height: 180px;
     }
     100%{
          height: 100px;
     }
}

@keyframes anime4 {
     0%{
          height: 100px;
     }
     50%{
          height: 180px;
     }
     100%{
          height: 100px;
     }
}